apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: smooths.validating.example.com
spec:
  group: validating.example.com
  scope: Namespaced
  names:
    kind: Smooth
    listKind: SmoothList
    shortNames:
    - sm
    plural: smooths
    singular: smooth
  versions:
  - additionalPrinterColumns:
    - description: CreationTimestamp is a timestamp representing the server time when this object was created.
      jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              interval:
                format: int32
                type: integer
              timeout:
                format: int32
                type: integer
              rules:
                items:
                  properties:
                    address:
                      type: string
                    port:
                      type: integer
                    path:
                      type: string
                    method:
                      type: string
                    body:
                      type: string
                    expect:
                      type: string
                  type: object
                type: array
              targetRef:
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  resourceVersion:
                    type: string
                type: object
            required:
            - targetRef
            type: object
        type: object
    served: true
    storage: true